{% load staticfiles %}
<!doctype html>
<head>
<meta name="description" content="Ariel Jacobsen Portfolio" />
<meta name="keywords" content="Ariel, Jacobsen, Fotografía, Photo" />
<meta name="author" content="Ariel Jacobsen" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>{% block page_title %}Home{% endblock %} | Ariel Jacobsen Photo</title>
<link rel=stylesheet type=text/css href="{% static 'style.css' %}">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
<script type=text/javascript src="{% static 'jquery.js' %}"></script>
</head>
<body>
    <div class="main-container">
      <div class="heading">
        
        <div class="brand-ribbon">
        <div class="brand">
          <img class="logo" src="{% static 'brand_inverse.png' %}"/>
        </div>
      </div>
        <div class="brand"></div>
        <div class="header-menu">
          <a href="{% url 'gallery.views.for_album' 'home'%}">HOME</a> |
          <a href="{% url 'gallery.views.for_album' 'music'%}">MUSIC</a> |
          <a href="{% url 'gallery.views.for_album' 'burning_man'%}">BURNING MAN</a> |
          <a href="#">BLOG</a> |
          <a href="#">ABOUT</a>
        </div>
      </div>
    <div class="content">
      <div class="fake-div">
        {% block body %}{% endblock %}

        <div class="piece"><img src='ciudad.jpg'/></div>
        <div class="piece"> <img src='camp.jpg' /></div>
        <div class="piece"></div>
        </div>
      </div>

    </div>
        <div class="footer">
            ARIEL JACOBSEN PHOTOGRAPHY | arieljacobsen@gmail.com | +54 9 11.5455.5535
        </div>
</body>
