{% extends 'base_layout.html' %}
{% load staticfiles %}
{% load embed_video_tags %}
{% block pagetitle %}{{ album.name.title }}{% endblock %}
{% block body %}
<div class="fake-div">
  
  <div class="photo">
    {% for res in album.get_all_resources() %}
        <div class="piece">
        {% if res.photo %}
        <img title="{{ res.description }}" 
        src="{{ res.photo.file.url }}"
        alt="{{ res.photo.title }}"
        />
        {% elif res.video %}
            {{ res.video.link|embed:'800x600' }}
        {% endif %}
      </div>
     {% endfor %}
  </div>
{% endblock %}
