html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.main-container {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    font-family: Helvetica;
    height: auto !important;
}

.heading {
    width: 100%;
    margin-bottom: 12px;
}

div.#portfolio {
    overflow-x: hidden;
}

.logo {
    margin: 15px 10px 15px 10px;
    height: 76px;
}


.header-menu {
    margin-top: 12px;
    margin-right: 12px;
    text-align: right;
    font-size: 16px;
}

.content {
    padding-bottom: 60px;
}

.header-menu a {
    margin-top: 5px;
    text-decoration: none;
    color: black;
}

.brand-ribbon {
    margin: 0px 0px 0px 0px;
    background-color: black;
    height: 106px;
}

.brand {
    margin-left: 15px;
    width: 461px;
    height: 106px;

}

.inner-footer {
    padding: 10px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 12px 0px 12px 0px;
    height: 36px;
    font-size: 14px;
    font-family: Helvetica;
    color: white;
    background-color: black;
}

div {
/*    border: red dashed 1px; */
}

