html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.main-container {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    font-family: Helvetica;
    height: auto !important;
}

.heading {
    width: 100%;
    margin-bottom: 12px;
}

.index-slideshow {
    padding-left: 18px;
}

.logo {
    margin: 15px 10px 15px 10px;
    height: 76px;
}


.header-menu {
    margin-top: 12px;
    margin-right: 12px;
    text-align: right;
    font-size: 14px;
}

.content {
    padding-bottom: 60px;
}

.header-menu a {
    margin-top: 5px;
    text-decoration: none;
    margin-right: 3px;
    margin-left: 3px;
    color: black;
}

.brand-ribbon {
    margin: 0px 0px 0px 0px;
    background-color: black;
    height: 106px;
}

.brand {
    margin-left: 15px;
    width: 461px;
    height: 106px;

}

.inner-footer {
    padding: 10px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 12px 0px 12px 0px;
    height: 36px;
    font-size: 12px;
    font-family: Helvetica;
    color: white;
    background-color: black;
}
.footer span {
    margin-right: 8px;
    margin-left: 8px;
}
.about-container {
    width: 100%;
}

.about {
   width: 50%;
   font-size: 14px;
   display: inline-block;
   float: left;
   padding-left: 20px;
}
.about-photo {
   padding-left: 20px;
   text-align: left;
   display: inline-block;
   float: left;
   padding-right: 20px;
}
.clear { clear: both;}
.contact-data {
    line-height: 22px;
    margin-bottom: 10px;
}


div {
/*    border: red dashed 1px; */
}

h2 {
    font-size: 16px;
    font-family: Helvetica;
    font-style: italic;
}
